.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.price {
  display: flex;
  column-gap: 8px;
}
